<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>AA3D5B2E-5662-4D3A-B5D3-07710DB02173</key>
		<array>
			<string>F636DF32-DE4D-4B65-AAC3-C7B449DA0D88</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 651}}</string>
		<string>{{266, 0}, {987, 651}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>27E11326-AFE0-4262-ADC9-F91B7F5D7E28</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3592C410-2EC8-44F2-8C27-DDAC4089A648</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68F9DB8A-73A7-4E9C-9336-36748787D6CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>81F6E3E1-2136-419A-8CAA-8F396FA99BC6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>911EE128-D66D-426F-81C9-FF0B7775E61A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ABD0F88E-3CE6-406A-900A-1D803B709B76</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B030C9BA-7521-426C-A8B7-D10B8C13992D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE1A55ED-C58C-457E-A084-C8E72103D861</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3C64DBB-A9B2-4E3F-A572-B6BD764C531E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F9AEC3C9-D73A-424C-8A61-19B818774F74</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {741, 621}}</string>
		<string>{{742, 0}, {245, 621}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, -32}, {726, 565}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>934 342 1253 679 1920 39 1512 950 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
